alive-progress==3.1.4
boto3==1.28.17
coolname==2.2.0
duckdb==0.8.1
dvc==3.1.0
dvc-s3==2.23.0
faker==19.6.2
loguru==0.7.0
pyxet==0.1.4
tqdm==4.65.0
snakeviz==2.2.0
pandas==2.0.3
pyarrow==13.0.0
pydantic==2.4.0
pytest==7.4.3
